<div class="col-xs-8 col-xs-offset-2">
    <p>Название нового автомобиля</p>
    <input type="text"
           class="form-control"
           [(ngModel)]="newCarName">
    <p>Цвет нового автомобиля</p>
    <input type="text"
           class="form-control"
           [(ngModel)]="newCarColor">
    <hr>
    <button class="btn btn-primary"
            (click)="loadCars()"
            [ngStyle]="{marginRight: '50px'}">
        Отобразить машины
    </button>
    <button class="btn btn-primary"
            (click)="addNewCar()">
        Добавить авто
    </button>
    <hr>
    <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let car of cars">
            <span class="badge"
                  [ngStyle]="{backgroundColor: car.color}">
                {{car.id}}</span> {{car.name}} ({{car.color}})
            <button class="btn btn-xs btn-info"
                    (click)="setRandomColor(car)">
                Изменить цвет
            </button>
            <button class="btn btn-xs btn-danger"
                    (click)="deleteCar(car)">
                Удалить авто
            </button>
        </li>
    </ul>
</div>
